body {
  font-family: "Oranienbaum", serif;
  /* font-family: 'Libre Caslon Display', serif; */
  /* background-color: #ece2d0; */
}

.navbar {
  display: flex;
  background-color: #ef8557;
  justify-content: space-between;
  padding: 4vw;
  font-weight: bold;
  color: #211c1e;
  /* margin-bottom: 2vw; */
  font-size: 2vw;
}
.footer {
  background-color: #ef8557;
  justify-content: space-between;
  padding: 3vw;
  font-weight: bold;
  color: #211c1e;
  margin-bottom: 2vw;
  font-size: 2vw;
  text-align: center;
}
.footer-text {
  font-size: small;
  font-weight: bold;
}
.title {
  text-align: center;
  color: #007a45;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 2vh;
}
.pages {
  display: flex;
  gap: 15px;
  font-size: 2vw;
  align-items: center;
}
.signup-login-nav {
  display: flex;
  gap: 15px;
  font-size: 2vw;
  align-items: center;
}
.test-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.test-container div {
  width: 33%;
  margin-bottom: 3vh;
  /* border: #211c1e;
border-style: solid;
border-width: thin; */
  text-align: center;
}
.category {
  font-weight: bold;
  font-size: larger;
}
.searchbar {
  text-align: center;
  border: #211c1e;
  border-style: solid;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
h1 {
  font-weight: bolder;
  font-size: x-large;
}
.featured {
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.search-button {
  background-color: #ece2d0;
  border-radius: 25%;
  padding: 5px;
  margin-left: 5px;
}
.assessment-button {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  border-style: solid;
  border-color: #211c1e;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url("./Assets/umit-bulut-qbTC7ZwJB64-unsplash.jpg");
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.logo {
  display: flex;
  max-block-size: 8vw;
  align-items: center;
}
.test-link {
  color: #b89451;
  text-decoration: underline;
  font-size: large;
  font-weight: 600;
  letter-spacing: 2px;
}
.search-block {
  background-image: url("./Assets/priscilla-du-preez-aPa843frIzI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.featured-clinics {
  display: flex;
}
.clinic-image {
  display: flex;
}
.clinics-list {
  display: flex;
  flex-direction: column;
  border-style: solid;
  text-align: center;
  border: black;
}
.therapist-picture {
  width: 15%;
  height: 15%;
}
.info {
  text-align: center;
}
.therapists-list {
  text-align: justify;
  display: flex;
  border: #211c1e;
  border-style:solid;
  margin: 5px;
}