.navbar {
  display: flex;
  background-color: #ef8557;
  justify-content: space-between;
  padding: 4vw;
  font-weight: bold;
  color: #211c1e;
  margin-bottom: 2vw;
}
.title {
  text-align: center;
  color: #007A45;
  font-size: x-large;
  font-weight: bold;
}
.pages {
  display: flex;
  gap: 15px;
  font-size: 2vw;
}
.signup-login-nav {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  font-size: 2vw;
}
.test-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category {
  font-weight: 600;
}
.searchbar {
  text-align: center;
  border: #211c1e;
  border-style: solid;
}